@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary: #009dda;
  --primary-space: 1.5rem;
  --separation-border: #eeeeee;
  --input-border: #dddddd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-josephine: var(--font-josephine);
  --color-primary: var(--primary);
  --margin-primary: var(--primary-space);
  --color-separation-border: var(--separation-border);
  --color-input-border: var(--input-border);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
