@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary: hsla(193, 95%, 40%, 1);
  --primary-hover: hsla(193, 95%, 30%, 1);
  --primary-space: 1.5rem;
  --separation-border: #eeeeee;
  --input-border: #dddddd;
  --background-accent: #d9d9d9;
  --foreground-accent: #999999;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-josephine: var(--font-josephine);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --margin-primary: var(--primary-space);
  --padding-primary: var(--primary-space);
  --color-separation-border: var(--separation-border);
  --color-input-border: var(--input-border);
  --color-background-accent: var(--background-accent);
  --color-foreground-accent: var(--foreground-accent);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }
}
